<footer class="footer">
  <small>
    The <a href="http://localhost:3000">Ruby on Rails</a>
    by <a href="http://www.michaelhartl.com/">Bimingwen</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://localhost:3000/news">News</a></li>
    </ul>
  </nav>
</footer>